.board {
  padding: 20px;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;

  header {
    strong {
      font-size: 1.1em;
    }
  }

  @media print {
    padding-top: 20px;
  }
}

.since {
}

.since input {
  vertical-align: middle;
  font-size: 1.2em;
  margin-left: 1em;
}

.sectionHeading {
  margin-top: 3rem;
}

.cardsWithActions {
  grid-template-columns: 1fr 350px;
  grid-template-rows: auto 1fr;
  position: relative;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5rem;
  padding-top: 2px;
  padding-bottom: 1.5rem;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   left: 0%;
  //   right: 0%;
  //   bottom: -1rem;
  //   height: 1px;
  //   border-top: 1px solid #ddd;
  // }

  @media print {
    grid-template-columns: 1fr 7cm;
  }
}
