.label {
  color: #666;
  border-radius: calc(2px + 0.8rem / 2);
  padding: 0px 6px;
  font-size: 0.7rem;
  line-height: 0.8em;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  color-adjust: exact !important;
}

.label + .label {
  margin-left: 0.4rem;
}
