.board {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;

	header {
		strong {
			font-size: 1.1em;
		}
	}

	@media print {
		padding-top: 20px;
	}
}

.since {
}

.since input {
	vertical-align: middle;
	font-size: 1.2em;
	margin-left: 1em;
}

.cardsWithActions {
	grid-template-columns: 1fr 350px;

	@media print {
		grid-template-columns: 1fr 7cm;
	}
}

.actionsList li {
	position: relative;
	box-sizing: border-box;
}
.actionsList li:before {
	content: '';
	position: absolute;
	left: -0.78rem;
	border-left: 3px solid #000;
	width: 1px;
	height: 100%;
	top: 0.59rem;
	bottom: -0.59rem;

	&:last-child {
		display: none;
	}
}
